---
---

<section class="section container">
  <p class="section-label">[ WHO I AM ]</p>
  <p>
    Born in Venezuela, based in Argentina. I don't care about roles. I prefer
    doing stuff. I've been deep in the trenches of DeFi and stablecoins since
    2018. Currently building great experiences at W3G, running marketing
    operations for Sky (fka MakerDAO), and advising stablecoin projects. I also
    invest in early-stage founders and never stop being a student of the game.
  </p>
</section>
